@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    /* custom */
    --font-roboto: "Roboto", sans-serif;

    --color-brand-bg: var(--brand-primary-bg);
    --color-brand-primary: var(--brand-primary-text);
    --color-brand-gray: var(--brand-gray-text);
    --color-brand-link: var(--brand-link);
    --color-brand-button: var(--brand-button);

    --color-nav-border: var(--brand-nav-border);
    --color-navlink: var(--brand-navlink);
    --color-navlink-bg: var(--brand-navlink-bg);

    --color-brand-sidebar: var(--brand-sidebar);
    --color-brand-modal: var(--brand-modal-bg);
    --color-brand-card: var(--brand-card-bg);
    --color-brand-card-header: var(--brand-card-header);

    --color-project-active-bg: var(--brand-project-active-bg);
    --color-project-active: var(--brand-project-active);
    --color-project-completed-bg: var(--brand-project-completed-bg);
    --color-project-completed: var(--brand-project-completed);
    --color-project-archived-bg: var(--brand-project-archived-bg);
    --color-project-archived: var(--brand-project-archived);

    --color-task-todo-bg: var(--brand-task-todo-bg);
    --color-task-todo: var(--brand-task-todo);
    --color-task-progress-bg: var(--brand-task-progress-bg);
    --color-task-progress: var(--brand-task-progress);
    --color-task-completed-bg: var(--brand-task-completed-bg);
    --color-task-completed: var(--brand-task-completed);
    --color-task-low-bg: var(--brand-task-low-bg);
    --color-task-low: var(--brand-task-low);
    --color-task-medium-bg: var(--brand-task-medium-bg);
    --color-task-medium: var(--brand-task-medium);
    --color-task-high-bg: var(--brand-task-high-bg);
    --color-task-high: var(--brand-task-high);
    --color-task-duedate: var(--brand-task-duedate);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    --brand-primary-bg: hsl(210, 36%, 9%);
    --brand-primary-text: hsl(0, 0%, 100%);
    --brand-gray-text: hsl(210, 4%, 49%);
    --brand-link: hsl(210, 84%, 47%);
    --brand-nav-border: hsl(210, 67%, 20%);
    --brand-navlink: hsl(210, 3%, 79%);
    --brand-navlink-bg: hsl(210, 54%, 21%);
    --brand-button: hsl(210, 85%, 50%);
    --brand-sidebar: hsl(210, 27%, 14%);
    --brand-modal-bg: hsl(210, 27%, 14%);
    --brand-card-bg: hsl(211, 30%, 14%);
    --brand-card-header: hsl(0, 0%, 86%);
    --brand-project-active-bg: hsl(162, 41%, 18%);
    --brand-project-active: hsl(142, 62%, 55%);
    --brand-project-completed-bg: hsl(210, 54%, 21%);
    --brand-project-completed: hsl(210, 81%, 42%);
    --brand-project-archived-bg: hsl(216, 19%, 26%);
    --brand-project-archived: hsl(216, 9%, 79%);
    --brand-task-todo-bg: hsl(216, 19%, 26%);
    --brand-task-todo: hsl(218, 10%, 78%);
    --brand-task-progress-bg: hsl(210, 55%, 20%);
    --brand-task-progress: hsl(210, 84%, 46%);
    --brand-task-completed-bg: hsl(162, 41%, 18%);
    --brand-task-completed: hsl(142, 62%, 55%);
    --brand-task-low-bg: hsl(216, 19%, 26%);
    --brand-task-low: hsl(218, 10%, 78%);
    --brand-task-medium-bg: hsl(19, 39%, 20%);
    --brand-task-medium: hsl(46, 91%, 63%);
    --brand-task-high-bg: hsl(351, 39%, 21%);
    --brand-task-high: hsl(0, 80%, 79%);
    --brand-task-duedate: hsl(214, 14%, 55%);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    body {
        @apply bg-brand-bg font-roboto text-brand-primary;
    }
}

@layer utilities {
    .flex-between {
        @apply flex justify-between items-center;
    }
    .flex-around {
        @apply flex justify-around items-center;
    }
    .flex-center {
        @apply flex justify-center items-center;
    }
    .flex-end {
        @apply flex justify-end items-center;
    }
}
